.About {
    border: 1px grey solid;
    border-radius: .2rem;
    background-color: white;
    padding: 1rem;
    width: 70%;
    margin: 0 15%;
    z-index: 200;
    position: absolute;
    top: 10vh;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
}

.AboutText {
    text-align: left;
    margin: 1rem 2rem;
    padding: 2rem;
    line-height: 1.5;
    border: 1px lightgray solid;
    border-radius: .2rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.1);
}

.ByLine {
    margin: 2rem 0 0;
}

.ByLine a {
    text-decoration: none;
    color: #555;
}

.ByLine a i{
    margin: 0 .5rem;
}

.ByLine a:hover {
    color: #000;
}