.Seat {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border: 1px lightblue solid;
    padding: .5rem;
    background-color: white;
    margin: .25rem;
}

.Seat.Sold {
    background-color: lightgray;
}

.Seat.EditSeat {
    background-color: lightblue;
}

.Seat.Selected {
    background-color: lightgreen;
}

.Seat:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.Seat.Sold:hover {
    transform: scale(1);
    cursor: default;
}

.Seat:active {
    transform: scale(1);
}